---
import Layout from "../layouts/Layout.astro";
import SponsorBlock from "../components/SponsorBlock.astro";
import hoffmanLogo from "../assets/sponsor_logos/hoffman.png";
import maxeonLogo from "../assets/sponsor_logos/maxeon.png";
import fsiLogo from "../assets/sponsor_logos/fsi.png";
import altiumLogo from "../assets/sponsor_logos/altium.png";
import leonardoLogo from "../assets/sponsor_logos/leonardo.png";
import depmeLogo from "../assets/sponsor_logos/dept_me.png";
import generacLogo from "../assets/sponsor_logos/generac.png";
import xesLogo from "../assets/sponsor_logos/X-ES.png";
import twindiscLogo from "../assets/sponsor_logos/twin-disc.png";
import airtechLogo from "../assets/sponsor_logos/airtech.png";
import milwaukeeLogo from "../assets/sponsor_logos/milwaukee.png";
import cinconLogo from "../assets/sponsor_logos/cincon.png";
import analogdevicesLogo from "../assets/sponsor_logos/Analog_Devices.png";
import bvvLogo from "../assets/sponsor_logos/BVV.png";
import noctuaLogo from "../assets/sponsor_logos/noctua.png";
import mercuryLogo from "../assets/sponsor_logos/mercury.png";

const tiers = [
  {
    rank: "Varsity",
    name: "Hoffeman",
    link: "https://www.hoffmanev.com/",
    logo: hoffmanLogo,
    info: "Based in Madison, Wisconsin, Hoffman EV specializes in transforming classic vehicles into high-performance electric masterpieces. By blending timeless design with cutting-edge electric technology, they offer sustainable automotive solutions without compromising on elegance or performance. Their in-house metal fabrication capabilities ensure each conversion meets precise specifications, delivering bespoke electric vehicles that honor the legacy of the originals.",
  },

  {
    rank: "Gold",
    name: "Maxeon",
    link: "https://www.maxeon.com/",
    logo: maxeonLogo,
    info: "Maxeon Solar Technologies is a global leader in solar innovation, designing and manufacturing high-efficiency solar panels under the Maxeon® and SunPower® brands. Headquartered in Singapore, the company serves customers in over 100 countries, delivering sustainable energy solutions for residential, commercial, and utility-scale applications. With a commitment to durability, performance, and environmental responsibility, Maxeon offers industry-leading products backed by a 40-year warranty, empowering a cleaner and more resilient energy future.",
  },
  {
    rank: "Gold",
    name: "FSI",
    link: "https://fsi.co/",
    logo: fsiLogo,
    info: "Maxeon Solar Technologies is a global leader in solar innovation, designing and manufacturing high-efficiency solar panels under the Maxeon® and SunPower® brands. Headquartered in Singapore, the company serves customers in over 100 countries, delivering sustainable energy solutions for residential, commercial, and utility-scale applications. With a commitment to durability, performance, and environmental responsibility, Maxeon offers industry-leading products backed by a 40-year warranty, empowering a cleaner and more resilient energy future.",
  },
  {
    rank: "Gold",
    name: "Altium",
    link: "https://www.altium.com/",
    logo: altiumLogo,
    info: "Altium Limited is a global leader in electronic design automation (EDA) software, empowering engineers to design printed circuit boards (PCBs) and electronic systems with precision and efficiency. Founded in 1985 as Protel Systems in Australia, Altium has evolved into a multinational company with regional headquarters in the United States, Australia, China, Europe, and Japan. Its flagship product, Altium Designer, offers a unified platform for PCB design, widely adopted across industries such as automotive, aerospace, defense, and telecommunications.",
  },

  {
    rank: "Silver",
    name: "Leonardo DRS",
    link: "https://www.leonardodrs.com/",
    logo: leonardoLogo,
    info: "The University of Wisconsin–Madison College of Engineering is a top-ranked, research-intensive institution dedicated to developing innovative solutions to global challenges. With over 6,000 undergraduate and graduate students, the college offers a comprehensive range of programs across eight departments, including Biomedical, Chemical and Biological, Civil and Environmental, Electrical and Computer, Industrial and Systems, Materials Science, Mechanical, and Nuclear Engineering.",
  },
  {
    rank: "Silver",
    name: "UW-Mechanical Engineering Department",
    link: "https://engineering.wisc.edu/departments/mechanical-engineering/",
    logo: depmeLogo,
    info: "Generac is a leading energy technology company based in Waukesha, Wisconsin, specializing in backup power solutions for residential, commercial, and industrial applications. Founded in 1959, Generac pioneered the affordable home standby generator and has since expanded its offerings to include portable generators, solar battery storage systems, EV chargers, and energy management technologies. With a commitment to innovation and sustainability, Generac empowers customers to maintain energy resilience amid an evolving power grid.",
  },
  {
    rank: "Silver",
    name: "Generac",
    link: "https://www.generac.com/",
    logo: generacLogo,
    info: "Generac is a leading energy technology company based in Waukesha, Wisconsin, specializing in backup power solutions for residential, commercial, and industrial applications. Founded in 1959, Generac pioneered the affordable home standby generator and has since expanded its offerings to include portable generators, solar battery storage systems, EV chargers, and energy management technologies. With a commitment to innovation and sustainability, Generac empowers customers to maintain energy resilience amid an evolving power grid.",
  },
  {
    rank: "Silver",
    name: "XES",
    link: "https://www.xes-inc.com/",
    logo: xesLogo,
    info: "Extreme Engineering Solutions (X-ES) is a U.S.-based company specializing in the design, manufacture, and support of embedded computing solutions for compute-intensive applications in military, aerospace, industrial, and commercial sectors. Founded in 2002 and headquartered in Verona, Wisconsin, X-ES offers a comprehensive portfolio of products, including rugged single board computers, FPGA modules, Ethernet switches, routers, power supplies, and fully integrated systems. All products are engineered and manufactured in the United States, ensuring high reliability and performance in the most demanding environments.",
  },
  {
    rank: "Silver",
    name: "Twin Disc",
    link: "https://twindisc.com/",
    logo: twindiscLogo,
    info: "Extreme Engineering Solutions (X-ES) is a U.S.-based company specializing in the design, manufacture, and support of embedded computing solutions for compute-intensive applications in military, aerospace, industrial, and commercial sectors. Founded in 2002 and headquartered in Verona, Wisconsin, X-ES offers a comprehensive portfolio of products, including rugged single board computers, FPGA modules, Ethernet switches, routers, power supplies, and fully integrated systems. All products are engineered and manufactured in the United States, ensuring high reliability and performance in the most demanding environments.",
  },
  {
    rank: "Silver",
    name: "Airtech Advanced Materials",
    link: "https://airtech.com/",
    logo: airtechLogo,
    info: "Extreme Engineering Solutions (X-ES) is a U.S.-based company specializing in the design, manufacture, and support of embedded computing solutions for compute-intensive applications in military, aerospace, industrial, and commercial sectors. Founded in 2002 and headquartered in Verona, Wisconsin, X-ES offers a comprehensive portfolio of products, including rugged single board computers, FPGA modules, Ethernet switches, routers, power supplies, and fully integrated systems. All products are engineered and manufactured in the United States, ensuring high reliability and performance in the most demanding environments.",
  },

  {
    rank: "Bronze",
    name: "Milwaukee Tool",
    link: "https://www.milwaukeetool.com/",
    logo: milwaukeeLogo,
    info: "The University of Wisconsin–Madison College of Engineering is a top-ranked, research-intensive institution dedicated to developing innovative solutions to global challenges. With over 6,000 undergraduate and graduate students, the college offers a comprehensive range of programs across eight departments, including Biomedical, Chemical and Biological, Civil and Environmental, Electrical and Computer, Industrial and Systems, Materials Science, Mechanical, and Nuclear Engineering.",
  },
  {
    rank: "Bronze",
    name: "Cincon",
    link: "https://www.cincon.com/",
    logo: cinconLogo,
    info: "Generac is a leading energy technology company based in Waukesha, Wisconsin, specializing in backup power solutions for residential, commercial, and industrial applications. Founded in 1959, Generac pioneered the affordable home standby generator and has since expanded its offerings to include portable generators, solar battery storage systems, EV chargers, and energy management technologies. With a commitment to innovation and sustainability, Generac empowers customers to maintain energy resilience amid an evolving power grid.",
  },
  {
    rank: "Bronze",
    name: "Analog Devices",
    link: "https://www.analog.com/en/index.html",
    logo: analogdevicesLogo,
    info: "Extreme Engineering Solutions (X-ES) is a U.S.-based company specializing in the design, manufacture, and support of embedded computing solutions for compute-intensive applications in military, aerospace, industrial, and commercial sectors. Founded in 2002 and headquartered in Verona, Wisconsin, X-ES offers a comprehensive portfolio of products, including rugged single board computers, FPGA modules, Ethernet switches, routers, power supplies, and fully integrated systems. All products are engineered and manufactured in the United States, ensuring high reliability and performance in the most demanding environments.",
  },

  {
    rank: "Friend",
    name: "BVV",
    link: "https://shopbvv.com/",
    logo: bvvLogo,
    info: "The University of Wisconsin–Madison College of Engineering is a top-ranked, research-intensive institution dedicated to developing innovative solutions to global challenges. With over 6,000 undergraduate and graduate students, the college offers a comprehensive range of programs across eight departments, including Biomedical, Chemical and Biological, Civil and Environmental, Electrical and Computer, Industrial and Systems, Materials Science, Mechanical, and Nuclear Engineering.",
  },
  {
    rank: "Friend",
    name: "Noctua",
    link: "https://noctua.at/",
    logo: noctuaLogo,
    info: "Generac is a leading energy technology company based in Waukesha, Wisconsin, specializing in backup power solutions for residential, commercial, and industrial applications. Founded in 1959, Generac pioneered the affordable home standby generator and has since expanded its offerings to include portable generators, solar battery storage systems, EV chargers, and energy management technologies. With a commitment to innovation and sustainability, Generac empowers customers to maintain energy resilience amid an evolving power grid.",
  },
  {
    rank: "Friend",
    name: "Mercury Marine",
    link: "https://www.mercurymarine.com/us/en",
    logo: mercuryLogo,
    info: "Extreme Engineering Solutions (X-ES) is a U.S.-based company specializing in the design, manufacture, and support of embedded computing solutions for compute-intensive applications in military, aerospace, industrial, and commercial sectors. Founded in 2002 and headquartered in Verona, Wisconsin, X-ES offers a comprehensive portfolio of products, including rugged single board computers, FPGA modules, Ethernet switches, routers, power supplies, and fully integrated systems. All products are engineered and manufactured in the United States, ensuring high reliability and performance in the most demanding environments.",
  },
];
const ranks = ["Varsity", "Gold", "Silver", "Bronze", "Friend"];
---

<Layout title="Sponsors">
  <section class="sponsors varsity">
    {
      ranks.slice(0, 2).map((tier) => {
        const sponsorsInTier = tiers.filter((s) => s.rank === tier);
        return (
          <div class="sponsor-group">
            <h2>{tier} Sponsors</h2>
            <div class="sponsor-grid">
              {sponsorsInTier.map((sponsor) => (
                <a href={sponsor.link} target="_blank" class="sponsor-card">
                  <img src={sponsor.logo.src} alt={`${sponsor.name} logo`} />
                </a>
              ))}
            </div>
          </div>
        );
      })
    }
  </section>
  <section class="sponsors silver">
    {
      ranks.slice(2, 3).map((tier) => {
        const sponsorsInTier = tiers.filter((s) => s.rank === tier);
        return (
          <div class="sponsor-group">
            <h2>{tier} Sponsors</h2>
            <div class="sponsor-grid">
              {sponsorsInTier.map((sponsor) => (
                <a href={sponsor.link} target="_blank" class="sponsor-card">
                  <img src={sponsor.logo.src} alt={`${sponsor.name} logo`} />
                </a>
              ))}
            </div>
          </div>
        );
      })
    }
  </section>
  <section class="sponsors bronze">
    {
      ranks.slice(3).map((tier) => {
        const sponsorsInTier = tiers.filter((s) => s.rank === tier);
        return (
          <div class="sponsor-group">
            <h2>{tier} Sponsors</h2>
            <div class="sponsor-grid">
              {sponsorsInTier.map((sponsor) => (
                <a href={sponsor.link} target="_blank" class="sponsor-card">
                  <img src={sponsor.logo.src} alt={`${sponsor.name} logo`} />
                </a>
              ))}
            </div>
          </div>
        );
      })
    }
  </section>

  <style>
    /* General Reset */
    * {
      /* margin: 0;
      padding: 0; */
    }

    .sponsors {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: clamp(1rem, 12vh, 20rem) clamp(1rem, 12vw, 20rem);
      justify-content: center;
    }

    .sponsor-group {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .sponsor-group h2 {
      font-size: clamp(2rem, 4vw, 4rem);
    }

    .sponsor-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }

    .sponsor-card {
      padding: clamp(10px, 2vw, 25px);
      background-color: rgb(60, 60, 60);
      border-radius: clamp(10px, 2vw, 25px);
    }

    .sponsor-grid img {
      /* width: 300px; */
      height: clamp(2rem, 6vw, 5rem);
    }

    .varsity {
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("src/assets/sponsor_page_imgs/sponsor-varsity.jpg");
    }

    .silver {
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("src/assets/sponsor_page_imgs/sponsor-silver.jpg");
    }

    .bronze {
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("src/assets/sponsor_page_imgs/sponsor-bronze.jpg");
    }
  </style>
</Layout>
